body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to left, rgb(215, 229, 215), rgb(192, 187, 33));
  font-family: "courier nEW", Courier, monospace;
  font-weight: 400;
  font-style: italic;
}
